<div *ngIf="!proView">
<div id="header-proyecto">
<h1>Mis Proyectos</h1>
<p>
<app-boton
    text="Agregar Proyecto"
    (botonClick)="toggleProView()"
>

</app-boton>
</p>
</div>
<div id="body-proyecto">
<app-item-proyectos
    *ngFor="let proyecto of listaProyectos"
    [proyecto]="proyecto"
    (updateProyecto)="actualizarProyecto($event)"
    (deleteProyecto)="borrarProyecto(proyecto)"
>
</app-item-proyectos>
</div>
</div>
<app-add-proyecto
    (addProyecto)="agregarProyecto($event)"
    *ngIf="proView"
>
</app-add-proyecto>
