h1 {
    font-size: 3vw;
}

#contenedor {
    display: flex;
    max-width: 60%;
    margin: auto;
    padding-top: 4em;
}
#side-bar{
    flex: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-right:black solid 1px; */
}
#about-card{
    flex: 90%;
    /* background-color: #394047; */
}

#nav-buttons{
    flex: 50%;
    /* background-color: black; */
}

#last-button{
    flex: 50%;
    padding-right: 1.2em;
    padding-left:0.2em;
    /* background-color: aqua; */
}