
#skills-card{
    border: 1px solid rgb(128, 140, 153,0.5);
    /* padding:1em; */
    border-radius: 0.5em;
    min-width: 17em;
}

#skill-header{
    display: flex;
    flex-wrap: wrap;
    padding-top:1em;
    padding-bottom:1em;
    padding-right: 2em;
    background-color: rgb(79, 89, 99, 0.1);
    border-bottom: 1px solid rgb(128, 140, 153,0.5);
    /* background-color: aqua; */
}

#contenedor-boton{
    flex:60;
    text-align:center;
    /* background-color: black; */
    justify-content: center;
    align-items: center;
}

#contenedor-boton h1{
    display:inline-block;
}

#contenedor-boton p{
    vertical-align: top;
    display:inline-block;
    padding-top: 0.5em;
    padding-left: 0.8em;
}

#mini-navi{
    flex: 40%;
    /* background-color: brown; */
    text-align: end;
}

#mini-navi label{
    padding-right:0.3em;
}

/* #mini-navi .form-check {
    text-align: right;
} */