<div id="header-proyecto">
<h1>Nuevo proyecto</h1>
<p>
<app-boton
    clase="btn btn-success"
    text="Volver"
    (botonClick)="toggleProView()"
>
</app-boton>
</p>
</div>
<form [formGroup]="proyecto"
    (ngSubmit)="onEnviar($event)"
    class="forma"
>
    <div class="mb-3">
        <label class="form-label">Titulo del proyecto
            <small *ngIf="Titulo?.touched && Titulo?.errors" 
                class="text-danger"
            > 
            (!!) campo obligatorio
            </small>
        </label>
        <input 
            class="form-control" 
            type="text" placeholder="ej. Portafolio Web" 
            aria-label="default input example"
            formControlName="titulo"
            [ngClass]="{'is-invalid': Titulo?.touched && Titulo?.errors, 
        'is-valid': Titulo?.touched && !Titulo?.errors}"
        >
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Descripcion del proyecto</label>
        <textarea 
            class="form-control" 
            id="exampleFormControlTextarea1" 
            rows="3"
            formControlName="descripcion"
            [ngClass]="{'is-invalid': Descripcion?.touched && Descripcion?.errors, 
            'is-valid': Descripcion?.touched && !Descripcion?.errors}"
        >
        </textarea>
        <div class="form-text">
            <span>Breve descripcion del proyecto en cuestion.</span>
        </div>
      </div>
    <div class="mb-3">
        <label class="form-label">Link</label>
        <input class="form-control" 
            type="text" placeholder="ej. http://nombre.xcom" 
            aria-label="default input example"
            formControlName="link"
            [ngClass]="{'is-invalid': Link?.touched && Link?.errors, 
        'is-valid': Link?.touched && !Link?.errors}"
        >
        <div class="form-text">
            <span>Proporcionar la URL que mostrará el proyecto (o dejar vacio).</span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!proyecto.valid">Agregar Experiencia</button>
  </form>